.header {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  position: relative;
  margin: 0 auto 80px auto;
  max-width: 1280px;

  .burger-menu {
    @media (min-width: 864px) {
      display: none;
    }
  }
}