.header {
  display: flex;
  align-items: center;
  padding: 20px 50px;
  position: relative;
  margin-bottom: 80px;
  
  .burger-menu {
   
    @media (min-width: 850px) {
      display: none;
    }
  }
}