.header {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  position: relative;
  margin-bottom: 80px;
  
  .burger-menu {
    @media (min-width: 864px) {
      display: none;
    }
  }
}