body {
  background-color: #2B2B2B;
  max-width: 1280px;
  margin: 0 auto;
  color: #FFFFFF;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}

.App {
  overflow-x: hidden;
}

main {

  section {
    max-width: 1050px;
    margin: 0 auto;
  }
}
