.nav {
  display: flex;
  align-items: center;
  gap: 10px;

  @media (max-width: 864px) {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 50px;
    background-color: #3B3B3B;
    right: 20px;
    transform: translateX(150%);
    padding: 20px;
    border-radius: 20px;
    transition: 0.5s;

    &.active {
      transform: translateX(0);
    }
  }

  a {
    padding: 0 20px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 140%;
    font-weight: 700;

    @media (max-width: 980px) {
      padding: 0 10px;
    }
  }
}